python-telegram-bot==13.0      # Versi stabil yang lebih lama
TikTokApi==3.0.0               # Versi stabil TikTok API yang lebih banyak didukung
facebook-scraper==0.2.45       # Versi stabil dari facebook-scraper
youtube-dl==2021.12.17         # Versi stabil dari youtube-dl
opencv-python-headless==4.5.5.64 # Versi headless untuk OpenCV, tanpa kebutuhan pustaka GUI tambahan
tqdm==4.62.3                   # Versi stabil dari tqdm untuk progress bar
lxml[html_clean]==4.6.3         # Versi stabil dari lxml dengan support html_clean
greenlet==1.1.2                # Versi stabil dari greenlet
